# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.pytest_cache/

# Virtual environments
venv/
env/
.env/

# Logs and databases
*.log
*.sqlite3
*.db

# System files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Draw.io autosaves
*.drawio.bkp
*.tmp

# Ignore test outputs
output/
test_results/
